head

  link(rel="stylesheet", href="styles/main.css")

body
  h1 Tic-Tac-Toe: Coming soon near you!

  table
    tr
      td(id='A') X
      td(id='B')
      td(id='C')
    tr
      td(id='D')
      td(id='E') X
      td(id='F')
    tr
      td(id='G')
      td(id='H')
      td(id='I') X


  script(src='scripts/game.js')
